# Dependencies
node_modules/
.pnpm-store/
.pnpm-debug.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Uniwind-generated className types
uniwind-types.d.ts

# Native
ios/
android/
*.orig.*

# Metro
.metro-health-check*

# Env
.env
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Editor
.idea/
.vscode/

# Testing
coverage/
